.venv/
__pycache__/
*.py[cod]

.ipynb_checkpoints/

.env
.env.*

.DS_Store

data/raw/*
data/interim/*
data/processed/*

models/*.pth
models/*.pt
models/*.bin
models/*.safetensors
models/

test.ipynb

*.log